includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - src
    bootstrapFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    ignoreErrors:
        # Plugin constants defined in the main plugin file (outside src/).
        - '#^Constant BTPW_(URL|VERSION|FILE|DIR) not found\.$#'
